{% extends "blog/base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="auth-wrapper">

    <div class="auth-card">

        <h2>
            Login
        </h2>

        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-primary">
                Login
            </button>
        </form>

        <p class="text-center mt-3">
            Do not have an account?
            <a href="{% url 'register' %}">
                Register
            </a>
        </p>

    </div>

</div>

{% endblock %}